.vscode/
.pyenv/
input/
output/
travis-key.json
.env

# ^ ADD CUSTOM HERE ^ #





# V PREDEFINED V #
**/.DS_Store
**/__MACOSX/
**/*.swp
**/*~.nib
**/build/
**/*.mode1
**/*.mode1v3
**/*.mode2v3
**/pbxuser
**/*.perspective
**/*.perspectivev3
**/*._*
**/xcuserdata
**/*.xccheckout
**/profile
**/*.moved-aside
**/DerivedData
**/.idea/
**/.hg
**/.svn
**/.git
**/CVS
**/*~
**/bin
**/*.bak
**/Packages/
**/.build/
**/.Spotlight-V100
**/.Trashes
